@model Music.Data.Song

@{
    ViewBag.Title = "افزودن";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">
        @TempData["ErrorMessage"]
    </div>
}

<div class="col-lg-6 col-sm-6 col-xs-12">
    <div class="widget flat radius-bordered">
        <div class="widget-header bg-blue">
            <span class="widget-caption">فرم افزودن آهنگ</span>
        </div>
        <div class="widget-body">
            <div id="registration-form">
                @using (Html.BeginForm("Create", "Song", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.HiddenFor(s => s.SingerId)
                    <input name="@nameof(Model.SongFileName)" value="no-file.rar" type="hidden" />
                    <input name="@nameof(Model.SongImageName)" value="no-file.rar" type="hidden" />
                    <div class="form-title">
                        افزودن آهنگ
                    </div>


                    <div class="form-group">
                        <span class="input-icon icon-right">
                            @Html.EditorFor(model => model.SongName, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = Html.DisplayNameFor(model => model.SongName) } })
                            @Html.ValidationMessageFor(model => model.SongName, "", new { @class = "text-danger" })
                        </span>
                    </div>

                    <div class="form-group">
                        <span class="input-icon icon-right">
                            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control", @PlaceHolder = Html.DisplayNameFor(model => model.Description) } })
                            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                        </span>
                    </div>
                    <div class="form-group">
                        <label>تصویر آهنگ</label>
                        <span class="input-icon icon-right">
                            <input type="file" value="image..." name="songImage">
                        </span>
                    </div>
                    <div class="form-group">
                        <label>فایل آهنگ</label>
                        <span class="input-icon icon-right">
                            <input type="file" value="select file ..." name="songFile" accept="audio/mp3">
                        </span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" class="colored-blue" value="true" name="@nameof(Model.IsActive)">
                                <span class="text">@Html.DisplayNameFor(model => model.IsActive)</span>
                            </label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-blue">ثبت</button>
                }
            </div>
        </div>
    </div>
</div>
@section Scripts
{

    <script src="/Utilities/ckeditor/ckeditor.js"></script>
    <script src="/Utilities/ckeditor/adapters/jquery.js"></script>
    <script>
        $(function () {
            $('#Description').ckeditor();
        });
    </script>
}



